{% extends "layout.html" %}
{% block css %}
{{ super() }}
<link
    href="{{ url_for('static', filename='css/receipt.css') }}"
    rel="stylesheet"
/>
{% endblock css %}
{% block header %}
{% endblock header %}
{% block main %}
<div id="header" style="background-color: #{{ receipt.color.value }};">
    <div id="actions">
        <a href="{{ url_for('home.home') }}"><i class="material-icons">arrow_back</i> Tillbaka</a>
        <a href="{{ url_for('receipt.edit', receipt_id=receipt.id) }}">Ändra <i class="material-icons">edit</i></a>
    </div>
    <section id="receipt_header">
        <h3>{{ receipt.store.name  }}</h3>
        <p>{{ receipt.receipt_number }}</p>
    </section>
</div>
<p id="receipt_sum">{{ "{:,.2f}".format(receipt.sum).replace(",", " ") }}kr</p>
<div>
    {% for product in receipt.products %}
        <section class="product" style="background-color: #{{ product.color.value }};">
            <h4>{{ product.name }}</h4>
            <div>
                <p class="product_price">{{ "{:,.2f}".format(product.price).replace(",", " ") }}kr</p>
                <i class="material-icons">collections</i>
            </div>
        </section>
    {% endfor %}
</div>
{% endblock main %}